main{
    font-family: 'Poppins', sans-serif;
     margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;;
  }
  #sub-header{
    font-weight:bold;
  }
  .center {
      margin: auto;
      padding: auto;
      text-align: center;
     
    }
    #headline{
      margin-top:30px;
    }
    #header{
      font-size:70px;
      margin-top:20px;
    }
    #image {
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      max-width:100%;
      margin-top:50px;
     color:white;
      }
  
      #img-div {
    background: white;
    padding: 10px;
    margin: 0;
      }
     #img-caption{
       margin-top:10px;
     }
       @media only screen and (min-width:480px)
    {
  
    }
  
    @media only screen and (min-width:767px)
    {
  
    }
  
    @media only screen and (min-width:991px)
    {
  
    }
  
    @media only screen and (min-width:1200px)
    {
   .font {
      padding: 0px 200px 15px 200px;
          }
    }
  
    @media(orientation: landscape)
    {
  
    }
    a:hover {
    color: #74638f;
  }